body,div,h3,p{
	margin:0px;
	padding:0px;
}
.clearFix:before,.clearFix:after{
	content:"";
	display: block;
	clear:both;
}
.page{
	background-color: #00B0F1;
	border-radius: 10px;
}
.header{
	width:800px;
	margin:0 auto;
	height:150px;
}
.container{
	width:800px;
	margin:0 auto;
	margin-top:10px;
}
.content{
	width:490px;
	float: left;
}
.content1,.content2,.side2{
	margin-top:10px;
}
.side{
	width:300px;
	float: left;
	margin-left:10px;
}

.footer{
	width:800px;
	margin:0 auto;
	margin-top:10px;
	height:150px;
}
